* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Mozilla Headline", sans-serif;
  margin: 0;
  color: #fff;
}

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  background-color: #0f0d0d;
}

.pag1 {
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
}

.navbar {
  height: 55px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center  ;
  justify-content: space-between;
  padding: 0 30px;
}
.navbar img {
    height: 26px;
}
.navbar2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
.navbar .circle{
height: 20px;
width: 20px;
border-radius: 50%;
background-color: #fff;
}


.navbar h4{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar h4:nth-child(1){
  /* color: red; */
  /* text-decoration: underline;
   */
   border-bottom: 1.8px solid #fff;
}

.pag1  h1 {
  font-size: 8vw;
  font-weight: 600;
  font-family: Satoshi;
  margin-top: 10vw;
  margin-left: 5vw;
}

.pag1  h2 {
  font-size: 5vw;
  font-weight: 300;
  font-family: Satoshi;
  margin-top: 0.1vw;
  margin-left: 26vw;
}


.pag1 video{
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}
